<!-- banner start  -->
<div class="contain-fluid">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000" *ngFor="let b of bannerResult;let i=index"
        [ngClass]="{active:i===1}">
        <img src="https://image.tmdb.org/t/p/original/{{ b.backdrop_path }}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>{{b.original_title}}</h2>
          <p>{{b.overview}}</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- banner end  -->

<div class="contain mt-3 mb-5 p-4">
  <div class="row">
    <h5 class="text-white">Trending Movies</h5>
    <swiper-container  navigation="true" slides-per-view="10" speed="1500" grab-cursor="true" pagination="true" >
        <!-- Slides -->
        <ng-container *ngFor="let t of trendingMovieResult">
          <div class="swiper-slide" lazy="true"><img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"  alt="..."
            [routerLink]="['/movie',t.id]"></div>
        </ng-container>
    </swiper-container>
  </div>
    
  <!-- action movies  -->
  <div class="row mt-4">
    <h5 class="text-white">Action Movies</h5>
    <swiper-container  navigation="true" slides-per-view="10" speed="1500" grab-cursor="true" pagination="true" >
        <!-- Slides -->
        <ng-container *ngFor="let t of actionMovieResult">
          <div class="swiper-slide" lazy="true"><img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"  alt="..."
            [routerLink]="['/movie',t.id]"></div>
        </ng-container>
    </swiper-container>
  </div>

  <!-- adventure movies  -->
  <div class="row mt-4">
    <h5 class="text-white">Adventure Movies</h5>
    <swiper-container  navigation="true" slides-per-view="10" speed="1500" grab-cursor="true" pagination="true" >
        <!-- Slides -->
        <ng-container *ngFor="let t of adventureMovieResult">
          <div class="swiper-slide" lazy="true"><img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"  alt="..."
            [routerLink]="['/movie',t.id]"></div>
        </ng-container>
    </swiper-container>
  </div>


  <!-- animation movies  -->
  <div class="row mt-4">
    <h5 class="text-white">Animation Movies</h5>
      <swiper-container  navigation="true" slides-per-view="10" speed="1500" grab-cursor="true" pagination="true" >
        <!-- Slides -->
        <ng-container *ngFor="let t of animationMovieResult">
          <div class="swiper-slide" lazy="true"><img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"  alt="..."
            [routerLink]="['/movie',t.id]"></div>
        </ng-container>
    </swiper-container>
  </div>

  <!-- comedy movies  -->
  <div class="row mt-4">
    <h5 class="text-white">Comedy Movies</h5>
    <swiper-container  navigation="true" slides-per-view="10" speed="1500" grab-cursor="true" pagination="true" >
        <!-- Slides -->
        <ng-container *ngFor="let t of comedyMovieResult">
          <div class="swiper-slide" lazy="true"><img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"  alt="..."
            [routerLink]="['/movie',t.id]"></div>
        </ng-container>
    </swiper-container>
  </div>

  <!-- documentary movies  -->
  <div class="row mt-4">
    <h5 class="text-white">Documentary Movies</h5>
    <swiper-container  navigation="true" slides-per-view="10" speed="1500" grab-cursor="true" pagination="true" >
        <!-- Slides -->
        <ng-container *ngFor="let t of documentaryMovieResult">
          <div class="swiper-slide" lazy="true"><img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"  alt="..."
            [routerLink]="['/movie',t.id]"></div>
        </ng-container>
    </swiper-container>
  </div>

  <!-- science-fiction movies  -->
  <div class="row mt-4">
    <h5 class="text-white">Science Movies</h5>
    <swiper-container  navigation="true" slides-per-view="10" speed="1500" grab-cursor="true" pagination="true" >
        <!-- Slides -->
        <ng-container *ngFor="let t of sciencefictionMovieResult">
          <div class="swiper-slide" lazy="true"><img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"  alt="..."
            [routerLink]="['/movie',t.id]"></div>
        </ng-container>
    </swiper-container>
  </div>

  <!-- thriller movies  -->
  <div class="row mt-4">
    <h5 class="text-white">Thriller Movies</h5>
    <swiper-container  navigation="true" slides-per-view="10" speed="1500" grab-cursor="true" pagination="true" >
        <!-- Slides -->
        <ng-container *ngFor="let t of thrillerMovieResult">
          <div class="swiper-slide" lazy="true"><img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"  alt="..."
            [routerLink]="['/movie',t.id]"></div>
        </ng-container>
    </swiper-container>
  </div>

</div>


