<app-search-movie (search)="onSearch($event)"></app-search-movie>
<div class="movie-container">
  <mat-toolbar><button class="popular-movies-button" mat-flat-button (click)="onPopularMovies()">⭐Filmes Populares⭐</button></mat-toolbar>
  @if(movies | async; as movie){
    @for (movie of movie.results; track $index) {
      <mat-card class="movie-card">
          <img mat-card-image [src]="getImageUrl(movie.poster_path)" [alt]="'Poster do filme ' + movie.title">
        <mat-card-content>
          <h1><strong>{{movie.title}}</strong></h1>
          <h2>Popularidade: {{movie.popularity}}</h2>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="this.onDetail(movie)" mat-raised-button>DETALHES</button>
        </mat-card-actions>
      </mat-card>
    }
  } @else {
    <mat-spinner></mat-spinner>
  }
</div>
