mat-toolbar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-card{
  width: 80%;
  margin: 2em auto;
}

.card-content{
  margin-top: 1em;
}

*{
  font-size: 1.2rem;
}

.details{
  font-size: 2rem;
}


